@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* universal-body-css */
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background: #F5F5F5;
    font-family: "Fira Sans", serif;
  }
  /* shared-css */

  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right;
  }
  .text-left{
    text-align: left;
  }
  .container{
    width: 1280px;
    margin: 0 auto;
  }

  /* header-nav-css */
  .header-area{}
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  .navbar .nav-logo .nav-logo-title{
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
  }
  .navbar .nav-btn .header-btn{
    color:#006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    border: 1px solid rgb(0, 106, 80);
    cursor: pointer;
    transition: .4s;
    background:#F5F5F5;
  }
  .navbar .nav-btn .header-btn:hover{
    background:#006A50;
    color: #fff;
    
  }
/* banner-section-style */
.banner{
    background:#C6E4D6;
    padding: 80px 70px;
    border-radius: 24px;
    margin-top: 20px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.banner-content .banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    color:#0E0E0E80;
    line-height: 29px;
}
.banner-content .banner-title{
    font-size: 56px;
    line-height: 67px;
    color:#0E0E0E;
    margin-top: 16px;
}
.banner-left-content .banner-btn{
    padding: 17px 34px;
    background: #006A50;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
    transition: .4s;
}
.banner-left-content .banner-btn:hover{
    background:#C6E4D6;
    color: #006A50;
    border: 1px solid #006A50;
}

.banner-image{}
.banner-image img{
    width: 474px;
}

/* main-section-style-start */

/* piller-section */
.pillar{
    margin-top: 80px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
}
.pillar-container{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.pillars-card{
    
    background: #fff;
    padding: 24px;
    border: 1px solid #0E0E0E26;
    border-radius: 16px;
    transition: .4s;
}
.pillars-card:hover{
    background:#C6E4D6;
}
.pillars-content img{}
.pillars-card-inner-content{
    margin-top: 24px;
}
.card-title{
    color:#0E0E0ECC;
    font-size: 20px;
    line-height: 24px;
}
.card-description{
    font-size: 16px;
    line-height: 24px;
    color:#0E0E0EB3;
    margin-top: 12px;
    font-weight: 400;
    
}
/* vision-section-style */
.vision{
    margin-top: 80px;
}
.section-description{
    font-size: 16px;
    line-height: 24px;
    color:#0E0E0EB3;
    margin-top: 12px;
    font-weight: 400;
}
.vision-items-container{
   display: flex;
   gap: 24px;
   margin-top: 32px;
   justify-content: space-between;
}
.vision-item-card{
    background:#5490F533;
    /* width: 30%; */
    padding: 32px;
    border-radius: 16px;
    /* height: 325px; */
}
.green-card{
    background: #C6E4D6;
}
.yellow-card{
    background:#F7EBCF;
}
.vision-card-btn{
    margin-top: 24px;
}
.card-btn{
    padding: 11px 20px;
    background:#5490F5;
    color: #fff;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
}
.blue-btn{
    margin-top: 24px;
}
.blue-btn:hover{
    background:#3b72d2;
}
.green-btn{
    background:#09A15C;
}
.green-btn:hover{
    background:#077644;
}
.yellow-btn{
    background:#FFC239;
}
.yellow-btn:hover{
    background:#e9ae26;
}
/* younus-section-style */
.younus {
    padding: 48px 24px;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #0E0E0E26;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 2% 20%;
    margin-top: 32px;
}
.younus .section-description{
    text-align: justify;
}
.younus-name-description{
    margin-top: 12px;
}
.younus-name-description h2{
    color:#0E0E0ECC;
    font-size: 20px;
    line-height: 24px;
    
}
.younus-name-description p{
    line-height: 0;
    margin-top: 12px
}
/* opininio section style */
.opinion{
    margin-top: 80px;
}
.opinion-container{
   background: #fff;
   padding: 32px;
   border-radius: 16px;
   margin-top: 24px;
}
.opinion-caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background: #C6E4D6;
    border: 1px solid rgba(14, 14, 14, 0.15);

}
.opinion-caption h3{
    font-size: 20px; 
    line-height: 24px;
    font-weight: 600;
    color: #0E0E0E;
}
.caption-left{}
.caption-right{}

.opinion-input{
    border: 1px solid rgba(14, 14, 14, 0.15);
    align-items: center;
    display: flex;

}
.input-left {
    width: 85%;
    border-right: 1px solid rgba(14, 14, 14, 0.15);
    padding: 37px;
}
.input-right{
    width: 15%;
    padding: 24px;
}
.opinion-input h4{
    font-size: 16px;
    font-weight: 600;
    color:#0E0E0E;
}
.opinion-input button{
    padding: 10px 14px;
    background: #C6E4D6;
    font-weight: 500;
    border: 1px solid #0E0E0E;
    border-radius: 4px;
    cursor: pointer;
}
/* news section style */
.news{
    margin-top: 80px;
}
.news-satellite-container{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-satellite{
    background: #fff;
    padding: 48px;
    border-radius: 24px;
    display: flex;
    /* align-items: center; */
    gap: 32px;
}
.satellite-image img{
    border-radius: 24px;
    margin-bottom: -4px;
}
.satellite-content{}
.satelite-content-title{
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    color:#0E0E0ECC;
}
.satelite-content-image{
    margin: 12px 0;
}
.satelite-content-image img{}
.satellite-date-time{}
.satellite-date-time span{
    color:#0E0E0EB3;
    line-height: 24px;
    display: inline-block;
    margin-right: 12px;
}
.satellite-content-description{
    color:#0E0E0EB3;
    line-height: 24px;
    margin-top: 12px;
}
.satellite-btn{
    background:#006A50;
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    font-family: "Fira Sans", serif;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 32px;
    cursor: pointer;
    transition: .4s;
    
}
.satellite-btn:hover{
    background:#C6E4D6;
    border: 1px solid #006A50;
    color:#006A50;
}
/* donate-section -style */
.donate{
    margin-top: 80px;
}
.donate-taka-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;
}
.donate-taka{
    padding: 40px;
    background: #fff;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    cursor: pointer;
    transition: .4s;
}
.donate-taka h1{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0ECC;
}
.active-taka{
    background:#C6E4D6;
}
.donate-taka:hover{
    background:#C6E4D6;
}

.donate-form input {
    outline: none;
    display: block;
    width: 1032px;
    padding: 20px 5px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    line-height: 24px;
    color:#0e0e0eae;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    margin-top: 32px;
}
.donate-form input::placeholder{
    color: #0E0E0E4D;
}
.donate-btn{
    margin-top: 32px;
    background:#006A50;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    font-family: "Fira Sans", serif;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 32px;
    cursor: pointer;
    transition: .4s;
}
.donate-btn:hover{
    background:#C6E4D6;
    border: 1px solid #006A50;
    color:#006A50;
}
/* subscribe-section-style */
.subscribe{
    margin-top: 80px;
    background:#C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
}
.subscribe-container{
    width: 750px;
    margin: 0 auto;
}
.subscribe-form{
    margin-top: 24px;
}

.subscribe-form form input {
    width: 511px;
    padding: 18px 40px;
    border: none;
    outline: none;
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Fira Sans", serif;
    color:#0e0e0eb1;
}
.subscribe-form form input::placeholder{
    color: #0E0E0E4D;
}
.subscribe-form form .subscribe-btn {
    background: #006A50;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    font-family: "Fira Sans", serif;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: .4s;
}
.sub-form-footer-title{
    margin-top: 24px;
}
/* footer-style */
.footer-area{
    padding: 50px 0;
    background: #fff;
    margin-top: 80px;
}
.footer-content{}
.footer-content hr{
    margin: 32px auto;
    /* border-bottom: 1px solid rgba(14, 14, 14, 0.15); */
    width: 1122px;
    border:1px solid #f4f4f4;
    
    
}
.footer-title{}
.footer-menu{}
.footer-menu ul{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.footer-menu ul li{
    list-style: none;
    cursor: pointer;
}